.category-page {
    max-width: 1200px;
    margin: 0 auto; /* Центрируем блок */
    padding: 20px;
    background-color: #ffffff; /* Белый фон */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень */
    box-sizing: border-box;
}

.category-page h2 {
    text-align: center; /* Центрируем заголовок */
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center; /* Центрируем элементы в сетке */
}

.category-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.category-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Тень при наведении */
}

.category-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.category-card h3 {
    font-size: 1.2rem;
    color: #333;
    padding: 10px 0;
}
